<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div class="container mt-5">
        {% include header.html %}
        <div class="row">
            <div class="col-md-8">
                {% include authors.html %}
            </div>
            <div class="col-md-4">
                {% include buttons.html %}
            </div>
        </div>
        <div class="content mt-5">
            {{ content }}
        </div>
    </div>
    <footer class="bg-dark text-white text-center p-3 mt-5">
        <p>&copy; 2024 EvalLM | <a href="https://github.com/dprol" target="_blank" class="text-white">GitHub</a> | <a href="/contact" class="text-white">Contact</a></p>
    </footer>
</body>
</html>
